<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Picture-in-picture test pages</title>
    <style>
      body {
        background-color: white;
      }
    </style>
  </head>
  <body>
    <a href="https://shapeshed.com/examples/HTML5-video-element/">Multiple HTML 5 video element on one page</a><br />
    <a href="https://www.youtube.com/watch?v=7z3LHu3xeX4">Youtube test</a><br />
    <a href="https://vimeo.com/385369619">Vimeo test</a><br />
    <a href="https://www.twitch.tv/videos/543246103">Twitch.tv test</a><br />
    <a href="https://www.ted.com/talks/alex_rosenthal_the_chasm_think_like_a_coder_ep_6">TED test</a><br />
    <a href="https://rutube.ru/video/a8e0c237da581dd80b00a2a5e7a82737/?pl_type=source&pl_id=23316">rutube.ru test</a><br />
    <a href="https://www.youporn.com/watch/9628173/nubile-films-cum-swallowing-teen-cutie/">Youporn test (not working)</a><br />
    <a href="https://www.webrtc-experiment.com/getDisplayMedia/">WebRTC test</a><br />
    <a href="https://yandex.ru/efir?stream_id=4b4ba3bbf90cb5cba6036265723c9d89">Yandex.ru test (not working)</a><br />
    <a href="https://vivaldi.com/ru/blog/vivaldi-2-10-no-strings-attached-2/">Embedded youtube test</a><br />
    <a href="https://www.youtube-nocookie.com/embed/feGKcVUjj0s?autoplay=1">Direct embedded youtube test</a><br />
    <a href="https://www.w3schools.com/TAGS/tryit.asp?filename=tryhtml5_audio">Audio element test (no pip should be shown)</a><br />
    <a href="https://www.reddit.com/r/videos/comments/f8qw32/oc_i_have_made_a_60_fps_4k_version_of_new_york/">Reddit test</a><br />
    <a href="https://www.netflix.com/title/80023083">Netflix test</a><br />
    <a href="http://tests.viv.int/ft/video/play.xhtml">Sample with no sound</a><br />
    <a href="https://app.pluralsight.com/course-player?clipId=a5ec2a5e-2971-439d-ab09-704bb09658b0">Pluralsight test</a><br />
    <a href="https://www.nicovideo.jp/watch/sm36554977">Nicovideo.jp test</a><br />
    <a href="https://www.w3.org/2010/05/video/mediaevents.html">Media events test (pip button should not show until video starts playing)</a>
    <a href="https://www.periscope.tv/w/1LyGBNBmvebGN?channel=featured-broadcasts">Periscope TV</a>
    <a href="https://www.kvs-demo.com/videos/319/pink-please-dont-leave-me/">KVS Demo</a>
    <a href="https://www.ruv.is/sjonvarp/spila/beinar-utsendingar-fra-bladamannafundum-vegna-covid-19/30205/901qnf">ruv.is</a>
    <a href="https://ct24.ceskatelevize.cz/#live">ceskatelevize.cz live</a>
  </body>
</html>
