<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./index.css"></link>
    <script type="text/javascript" src="./node_modules/d3/dist/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="page-container">
      <div id="page-controls">
        <div id="filter-input-group" class="user-input-group">
          <label for="filter-input">Add node to filter (exact name):</label>
          <input v-model="filterInputText" type="text" id="filter-input">
          <button @click="submitFilter" type="button">Add</button>
        </div>
        <ul id="filter-items">
          <li @click="removeFilter" v-for="node in sharedState.includedNodes">
            {{node}}
          </li>
        </ul>
        <div id="filter-inbound-group" class="user-input-group">
          <label for="filter-inbound">Change inbound (blue) depth:</label>
          <input v-model.number="inboundNum" type="number" id="filter-inbound">
          <button @click="submitInbound" type="button">Update Inbound</button>
        </div>
        <div id="filter-outbound-group" class="user-input-group">
          <label for="filter-outbound">Change outbound (yellow) depth:</label>
          <input v-model.number="outboundNum" type="number" id="filter-outbound">
          <button @click="submitOutbound" type="button">Update Outbound</button>
        </div>
      </div>
      <div id="graph-and-node-details-container">
        <div id="graph-container">
          <svg id="graph-svg" width="960" height="600"></svg>
        </div>
        <div id="selected-node-details">
          <template v-if="node !== null">
            <ul>
              <li>Name: {{node.id}}</li>
              <li>Display Name: {{node.displayName}}</li>
              <li v-for="(value, key) in node.visualizationState">{{key}}: {{value}}</li>
            </ul>
            <button @click="removeSelectedFromFilter" v-if="node.visualizationState.selectedByFilter">Remove from filter</button>
            <button @click="addSelectedToFilter" v-else>Add to filter</button>
          </template>
          <div v-else>Click a node for more details.</div>
        </div>
      </div>
    </div>
    <script type="module" src="./index.js"></script>
  </body>
</html>

