body{
  background-color: black;
  border: 1px solid white;
  margin: 0px 0px 0px 0px;
}
#addnote{
  color:yellow;
  border: 1px solid black;
}

#getnote{
  color:yellow;
  border: 1px solid black;
}

#infolist{
  border: thin;
  color: white;
  background-color: black;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;
}

#notestree{
  border: thin;
  color: green;
  background-color: black;
}
