# Stop Windows python license check presubmit errors by forcing LF checkout.
*.py  text eol=lf
*       -text
*.cc text eol=lf
*.h text eol=lf
*.mm text eol=lf
*.gyp text eol=lf
*.gypi text eol=lf
*.sh text eol=lf
