[submodule "third_party/clang-format/script"]
	path = third_party/clang-format/script
	url = ../../external/github.com/llvm/llvm-project/clang/tools/clang-format.git
[submodule "chrome/installer/mac/third_party/xz/xz"]
	path = chrome/installer/mac/third_party/xz/xz
	url = ../deps/xz.git
	gclient-condition = checkout_mac
[submodule "third_party/libc++/src"]
	path = third_party/libc++/src
	url = ../../external/github.com/llvm/llvm-project/libcxx.git
[submodule "third_party/libc++abi/src"]
	path = third_party/libc++abi/src
	url = ../../external/github.com/llvm/llvm-project/libcxxabi.git
[submodule "third_party/libunwind/src"]
	path = third_party/libunwind/src
	url = ../../external/github.com/llvm/llvm-project/libunwind.git
[submodule "third_party/llvm-libc/src"]
	path = third_party/llvm-libc/src
	url = ../../external/github.com/llvm/llvm-project/libc.git
[submodule "docs/website"]
	path = docs/website
	url = ../../website.git
[submodule "media/cdm/api"]
	path = media/cdm/api
	url = ../cdm.git
[submodule "net/third_party/quiche/src"]
	path = net/third_party/quiche/src
	url = ../../quiche/quiche.git
[submodule "third_party/angle"]
	path = third_party/angle
	url = ../../angle/angle.git
[submodule "third_party/anonymous_tokens/src"]
	path = third_party/anonymous_tokens/src
	url = ../../external/github.com/google/anonymous-tokens.git
[submodule "third_party/content_analysis_sdk/src"]
	path = third_party/content_analysis_sdk/src
	url = ../../external/github.com/chromium/content_analysis_sdk.git
[submodule "third_party/dav1d/libdav1d"]
	path = third_party/dav1d/libdav1d
	url = ../../external/github.com/videolan/dav1d.git
[submodule "third_party/dawn"]
	path = third_party/dawn
	url = ../../dawn/dawn.git
[submodule "third_party/highway/src"]
	path = third_party/highway/src
	url = ../../external/github.com/google/highway.git
[submodule "third_party/google_benchmark/src"]
	path = third_party/google_benchmark/src
	url = ../../external/github.com/google/benchmark.git
[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = ../../boringssl/boringssl.git
[submodule "third_party/breakpad/breakpad"]
	path = third_party/breakpad/breakpad
	url = ../../breakpad/breakpad.git
[submodule "third_party/cast_core/public/src"]
	path = third_party/cast_core/public/src
	url = ../../cast_core/public.git
[submodule "third_party/catapult"]
	path = third_party/catapult
	url = ../../catapult.git
[submodule "third_party/ced/src"]
	path = third_party/ced/src
	url = ../../external/github.com/google/compact_enc_det.git
[submodule "third_party/cld_3/src"]
	path = third_party/cld_3/src
	url = ../../external/github.com/google/cld_3.git
[submodule "third_party/colorama/src"]
	path = third_party/colorama/src
	url = ../../external/colorama.git
[submodule "third_party/cpu_features/src"]
	path = third_party/cpu_features/src
	url = ../../external/github.com/google/cpu_features.git
[submodule "third_party/cpuinfo/src"]
	path = third_party/cpuinfo/src
	url = ../../external/github.com/pytorch/cpuinfo.git
[submodule "third_party/crc32c/src"]
	path = third_party/crc32c/src
	url = ../../external/github.com/google/crc32c.git
[submodule "third_party/cros_system_api"]
	path = third_party/cros_system_api
	url = ../../chromiumos/platform2/system_api.git
	gclient-condition = checkout_linux or checkout_chromeos
[submodule "third_party/depot_tools"]
	path = third_party/depot_tools
	url = ../tools/depot_tools.git
[submodule "third_party/devtools-frontend/src"]
	path = third_party/devtools-frontend/src
	url = ../../devtools/devtools-frontend.git
[submodule "third_party/dom_distiller_js/dist"]
	path = third_party/dom_distiller_js/dist
	url = ../dom-distiller/dist.git
[submodule "third_party/eigen3/src"]
	path = third_party/eigen3/src
	url = ../../external/gitlab.com/libeigen/eigen.git
[submodule "third_party/farmhash/src"]
	path = third_party/farmhash/src
	url = ../../external/github.com/google/farmhash.git
[submodule "third_party/fast_float/src"]
	path = third_party/fast_float/src
	url = ../../external/github.com/fastfloat/fast_float.git
[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = ../third_party/ffmpeg.git
[submodule "third_party/flac"]
	path = third_party/flac
	url = ../deps/flac.git
[submodule "third_party/flatbuffers/src"]
	path = third_party/flatbuffers/src
	url = ../../external/github.com/google/flatbuffers.git
[submodule "third_party/fontconfig/src"]
	path = third_party/fontconfig/src
	url = ../../external/fontconfig.git
	gclient-condition = checkout_linux
[submodule "third_party/fp16/src"]
	path = third_party/fp16/src
	url = ../../external/github.com/Maratyszcza/FP16.git
[submodule "third_party/gemmlowp/src"]
	path = third_party/gemmlowp/src
	url = ../../external/github.com/google/gemmlowp.git
[submodule "third_party/grpc/src"]
	path = third_party/grpc/src
	url = ../../external/github.com/grpc/grpc.git
[submodule "third_party/freetype/src"]
	path = third_party/freetype/src
	url = ../src/third_party/freetype2.git
[submodule "third_party/fxdiv/src"]
	path = third_party/fxdiv/src
	url = ../../external/github.com/Maratyszcza/FXdiv.git
[submodule "third_party/harfbuzz-ng/src"]
	path = third_party/harfbuzz-ng/src
	url = ../../external/github.com/harfbuzz/harfbuzz.git
[submodule "third_party/ink/src"]
	path = third_party/ink/src
	url = ../../external/github.com/google/ink.git
[submodule "third_party/ink_stroke_modeler/src"]
	path = third_party/ink_stroke_modeler/src
	url = ../../external/github.com/google/ink-stroke-modeler.git
[submodule "third_party/emoji-segmenter/src"]
	path = third_party/emoji-segmenter/src
	url = ../../external/github.com/google/emoji-segmenter.git
[submodule "third_party/ots/src"]
	path = third_party/ots/src
	url = ../../external/github.com/khaledhosny/ots.git
[submodule "third_party/libgav1/src"]
	path = third_party/libgav1/src
	url = ../../codecs/libgav1.git
[submodule "third_party/google_toolbox_for_mac/src"]
	path = third_party/google_toolbox_for_mac/src
	url = ../../external/github.com/google/google-toolbox-for-mac.git
	gclient-condition = checkout_ios or checkout_mac
[submodule "third_party/googletest/src"]
	path = third_party/googletest/src
	url = ../../external/github.com/google/googletest.git
[submodule "third_party/gperf"]
	path = third_party/gperf
	url = ../deps/gperf.git
	gclient-condition = checkout_win
[submodule "third_party/hunspell_dictionaries"]
	path = third_party/hunspell_dictionaries
	url = ../deps/hunspell_dictionaries.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = ../deps/icu.git
[submodule "third_party/jsoncpp/source"]
	path = third_party/jsoncpp/source
	url = ../../external/github.com/open-source-parsers/jsoncpp.git
[submodule "third_party/leveldatabase/src"]
	path = third_party/leveldatabase/src
	url = ../../external/leveldb.git
[submodule "third_party/fuzztest/src"]
	path = third_party/fuzztest/src
	url = ../../external/github.com/google/fuzztest.git
[submodule "third_party/libaddressinput/src"]
	path = third_party/libaddressinput/src
	url = ../../external/libaddressinput.git
[submodule "third_party/libaom/source/libaom"]
	path = third_party/libaom/source/libaom
	url = ../../aomedia/aom.git
[submodule "third_party/libavif/src"]
	path = third_party/libavif/src
	url = ../../external/github.com/AOMediaCodec/libavif.git
[submodule "third_party/crabbyavif/src"]
	path = third_party/crabbyavif/src
	url = ../../external/github.com/webmproject/CrabbyAvif.git
[submodule "third_party/nearby/src"]
	path = third_party/nearby/src
	url = ../../external/github.com/google/nearby-connections.git
[submodule "third_party/beto-core/src"]
	path = third_party/beto-core/src
	url = ../../beto-core/beto-core.git
[submodule "third_party/securemessage/src"]
	path = third_party/securemessage/src
	url = ../../external/github.com/google/securemessage.git
[submodule "third_party/ukey2/src"]
	path = third_party/ukey2/src
	url = ../../external/github.com/google/ukey2.git
[submodule "third_party/libdrm/src"]
	path = third_party/libdrm/src
	url = ../../chromiumos/third_party/libdrm.git
	gclient-condition = checkout_linux
[submodule "third_party/expat/src"]
	path = third_party/expat/src
	url = ../../external/github.com/libexpat/libexpat.git
[submodule "third_party/libipp/libipp"]
	path = third_party/libipp/libipp
	url = ../../chromiumos/platform2/libipp.git
	gclient-condition = checkout_linux
[submodule "third_party/libjpeg_turbo"]
	path = third_party/libjpeg_turbo
	url = ../deps/libjpeg_turbo.git
[submodule "third_party/liblouis/src"]
	path = third_party/liblouis/src
	url = ../../external/liblouis-github.git
	gclient-condition = checkout_linux
[submodule "third_party/libphonenumber/dist"]
	path = third_party/libphonenumber/dist
	url = ../../external/libphonenumber.git
[submodule "third_party/libsrtp"]
	path = third_party/libsrtp
	url = ../deps/libsrtp.git
[submodule "third_party/libsync/src"]
	path = third_party/libsync/src
	url = ../../aosp/platform/system/core/libsync.git
	gclient-condition = checkout_linux or checkout_android
[submodule "third_party/libvpx/source/libvpx"]
	path = third_party/libvpx/source/libvpx
	url = ../../webm/libvpx.git
[submodule "third_party/libwebm/source"]
	path = third_party/libwebm/source
	url = ../../webm/libwebm.git
[submodule "third_party/libwebp/src"]
	path = third_party/libwebp/src
	url = ../../webm/libwebp.git
[submodule "third_party/libyuv"]
	path = third_party/libyuv
	url = ../../libyuv/libyuv.git
[submodule "third_party/lss"]
	path = third_party/lss
	url = ../../linux-syscall-support.git
	gclient-condition = checkout_android or checkout_linux
[submodule "third_party/material_color_utilities/src"]
	path = third_party/material_color_utilities/src
	url = ../../external/github.com/material-foundation/material-color-utilities.git
[submodule "third_party/microsoft_dxheaders/src"]
	path = third_party/microsoft_dxheaders/src
	url = ../../external/github.com/microsoft/DirectX-Headers.git
	gclient-condition = checkout_win
[submodule "third_party/nasm"]
	path = third_party/nasm
	url = ../deps/nasm.git
[submodule "third_party/neon_2_sse/src"]
	path = third_party/neon_2_sse/src
	url = ../../external/github.com/intel/ARM_NEON_2_x86_SSE.git
[submodule "third_party/openh264/src"]
	path = third_party/openh264/src
	url = ../../external/github.com/cisco/openh264.git
[submodule "third_party/openscreen/src"]
	path = third_party/openscreen/src
	url = ../../openscreen.git
[submodule "third_party/openxr/src"]
	path = third_party/openxr/src
	url = ../../external/github.com/KhronosGroup/OpenXR-SDK.git
	gclient-condition = checkout_openxr
[submodule "third_party/pdfium"]
	path = third_party/pdfium
	url = ../../pdfium/pdfium.git
[submodule "third_party/perfetto"]
	path = third_party/perfetto
	url = ../../android/platform/external/perfetto.git
[submodule "third_party/protobuf-javascript/src"]
	path = third_party/protobuf-javascript/src
	url = ../../external/github.com/protocolbuffers/protobuf-javascript.git
[submodule "third_party/pthreadpool/src"]
	path = third_party/pthreadpool/src
	url = ../../external/github.com/Maratyszcza/pthreadpool.git
[submodule "third_party/quic_trace/src"]
	path = third_party/quic_trace/src
	url = ../../external/github.com/google/quic-trace.git
[submodule "third_party/pywebsocket3/src"]
	path = third_party/pywebsocket3/src
	url = ../../external/github.com/GoogleChromeLabs/pywebsocket3.git
[submodule "third_party/re2/src"]
	path = third_party/re2/src
	url = ../../external/github.com/google/re2.git
[submodule "third_party/ruy/src"]
	path = third_party/ruy/src
	url = ../../external/github.com/google/ruy.git
[submodule "third_party/skia"]
	path = third_party/skia
	url = ../../skia/skia.git
[submodule "third_party/smhasher/src"]
	path = third_party/smhasher/src
	url = ../../external/smhasher.git
[submodule "third_party/snappy/src"]
	path = third_party/snappy/src
	url = ../../external/github.com/google/snappy.git
[submodule "third_party/sqlite/src"]
	path = third_party/sqlite/src
	url = ../deps/sqlite.git
[submodule "third_party/swiftshader"]
	path = third_party/swiftshader
	url = ../../swiftshader/SwiftShader.git
[submodule "third_party/text-fragments-polyfill/src"]
	path = third_party/text-fragments-polyfill/src
	url = ../../external/github.com/GoogleChromeLabs/text-fragments-polyfill.git
[submodule "third_party/tflite/src"]
	path = third_party/tflite/src
	url = ../../external/github.com/tensorflow/tensorflow.git
[submodule "third_party/vulkan-deps"]
	path = third_party/vulkan-deps
	url = ../../vulkan-deps.git
[submodule "third_party/glslang/src"]
	path = third_party/glslang/src
	url = ../../external/github.com/KhronosGroup/glslang.git
[submodule "third_party/spirv-cross/src"]
	path = third_party/spirv-cross/src
	url = ../../external/github.com/KhronosGroup/SPIRV-Cross.git
[submodule "third_party/spirv-headers/src"]
	path = third_party/spirv-headers/src
	url = ../../external/github.com/KhronosGroup/SPIRV-Headers.git
[submodule "third_party/spirv-tools/src"]
	path = third_party/spirv-tools/src
	url = ../../external/github.com/KhronosGroup/SPIRV-Tools.git
[submodule "third_party/vulkan-headers/src"]
	path = third_party/vulkan-headers/src
	url = ../../external/github.com/KhronosGroup/Vulkan-Headers.git
[submodule "third_party/vulkan-loader/src"]
	path = third_party/vulkan-loader/src
	url = ../../external/github.com/KhronosGroup/Vulkan-Loader.git
[submodule "third_party/vulkan-tools/src"]
	path = third_party/vulkan-tools/src
	url = ../../external/github.com/KhronosGroup/Vulkan-Tools.git
[submodule "third_party/vulkan-utility-libraries/src"]
	path = third_party/vulkan-utility-libraries/src
	url = ../../external/github.com/KhronosGroup/Vulkan-Utility-Libraries.git
[submodule "third_party/vulkan-validation-layers/src"]
	path = third_party/vulkan-validation-layers/src
	url = ../../external/github.com/KhronosGroup/Vulkan-ValidationLayers.git
[submodule "third_party/vulkan_memory_allocator"]
	path = third_party/vulkan_memory_allocator
	url = ../../external/github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third_party/wayland/src"]
	path = third_party/wayland/src
	url = ../../external/anongit.freedesktop.org/git/wayland/wayland.git
	gclient-condition = checkout_linux
[submodule "third_party/wayland-protocols/src"]
	path = third_party/wayland-protocols/src
	url = ../../external/anongit.freedesktop.org/git/wayland/wayland-protocols.git
	gclient-condition = checkout_linux
[submodule "third_party/wayland-protocols/kde"]
	path = third_party/wayland-protocols/kde
	url = ../../external/github.com/KDE/plasma-wayland-protocols.git
	gclient-condition = checkout_linux
[submodule "third_party/wayland-protocols/gtk"]
	path = third_party/wayland-protocols/gtk
	url = ../../external/github.com/GNOME/gtk.git
	gclient-condition = checkout_linux
[submodule "third_party/webgl/src"]
	path = third_party/webgl/src
	url = ../../external/khronosgroup/webgl.git
[submodule "third_party/webgpu-cts/src"]
	path = third_party/webgpu-cts/src
	url = ../../external/github.com/gpuweb/cts.git
[submodule "third_party/webrtc"]
	path = third_party/webrtc
	url = ../../webrtc/src.git
[submodule "third_party/wuffs/src"]
	path = third_party/wuffs/src
	url = ../../skia/external/github.com/google/wuffs-mirror-release-c.git
[submodule "third_party/weston/src"]
	path = third_party/weston/src
	url = ../../external/anongit.freedesktop.org/git/wayland/weston.git
	gclient-condition = checkout_linux
[submodule "third_party/xdg-utils"]
	path = third_party/xdg-utils
	url = ../deps/xdg-utils.git
	gclient-condition = checkout_linux
[submodule "third_party/xnnpack/src"]
	path = third_party/xnnpack/src
	url = ../../external/github.com/google/XNNPACK.git
[submodule "third_party/zstd/src"]
	path = third_party/zstd/src
	url = ../../external/github.com/facebook/zstd.git
[submodule "v8"]
	path = v8
	url = ../../v8/v8.git
