/* Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

body > header {
  flex-shrink: 0;
}

body > main {
  overflow: auto;
  padding: 12px;
}

.header-shadow {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .4);
  z-index: 1;
}

#status-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

status-box {
  width: 380px;
}

body > header {
  align-items: center;
  padding: 0 12px 12px 12px;
}

.header-row {
  align-items: center;
  display: flex;
  height: 56px;
}

.action-header-row {
  flex-wrap: wrap;
  gap: 10px;
}

.action-row-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

#more-actions-dropdown {
  float: left;
  overflow: hidden;
}

#more-actions-dropdown #more-actions-button {
  cursor: pointer;
}

#more-actions-list {
  position: absolute;
  background-color: white;
  min-width: 130px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
              0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 1;
}

#more-actions-list button,
#more-actions-list a {
  background-color: rgb(255, 255, 255);
  border: none;
  color: black;
  display: block;
  float: none;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
}

#more-actions-list button {
  width: 100%;
}

#more-actions-list button:hover,
#more-actions-list a:hover {
  background-color: rgb(247, 248, 248);
}

.more-actions-visibility {
  display: none;
}

#more-actions-button {
  padding: 8px 8px 8px 16px;
}

#dropdown-icon {
  background-image: url(chrome://resources/images/icon_arrow_dropdown.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.action-row-button {
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgb(128, 134, 139);
  background: rgb(241, 243, 244); /* Google grey 100 */
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  outline-width: 0;
  padding: 8px 16px;
  user-select: none;
}

#topbar {
  gap: 5px;
  justify-content: space-between;
}

.topbar-item {
  flex: 1;
}

#left-content {
  justify-content: flex-start;
}

#topbar-brand {
  align-items: center;
  display: flex;
}

#topbar-title {
  font-size: 170%;
  font-weight: 500;
  letter-spacing: .25px;
}

<if expr="not is_android and not is_ios">
#topbar-brand-logo {
  background-image: image-set("chrome://theme/current-channel-logo@1x" 1x,
                              "chrome://theme/current-channel-logo@2x" 2x);
  background-size: cover;
  height: 24px;
  margin-inline-end: 10px;
  width: 24px;
}
</if>

#middle-content {
  align-items: center;
  display: flex;
  flex-basis: 680px;
  justify-content: center;
}

#search-field-container {
  align-items: center;
  background: rgb(241, 243, 244); /* Google grey 100 */
  border-radius: 46px;
  display: flex;
  flex: 0 1;
  flex-basis: inherit;
  height: 40px;
}

#search-field-icon {
  background-image: url(chrome://resources/images/dark/icon_search.svg);
  background-size: cover;
  fill: rgb(95,99,104); /* Google grey 700 */
  height: 20px;
  margin-left: 12px;
  min-width: 20px;
  width: 20px;
}

#search-field-input {
  background: 0 0;
  border: none;
  caret-color: rgb(25, 103, 210); /* Google blue 700 */
  color: rgb(32, 33, 36);
  margin: 0 12px 0 12px;
  outline: 0;
  padding: 0;
  width: 100%;
  line-height: 185%;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
}

.show-unset-checkbox > label {
  align-items: center;
  display: flex;
  gap: 0.4em;
  justify-content: space-between;
}

.show-unset-checkbox > label > input {
  margin: 0;
}

a {
  color: rgb(26, 115, 232);
  cursor: pointer;
  text-decoration: underline;
}

#screen-reader-message {
  clip: rect(0,0,0,0);
  position: fixed;
}

/* Remove the flex gap after the searchbar on smaller width devices. */
@media only screen and (max-width: 440px) {
  #right-content {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  status-box {
    width: 100%;
  }
}

<if expr="is_android or is_ios">
#search-field-container {
  height: 36px;
}
</if>
