<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0">
<title>የGoogle Chrome እና የChrome OS ተጨማሪ የአገልግሎት ውል</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; }
h2 { font-size:1em; margin-top:0 }
</style>
</head>

<body>
<h2>
 የGoogle Chrome እና የChrome OS ተጨማሪ የአገልግሎት ውል
</h2>
<p>
 Chrome ወይም Chrome OSን በመጠቀምዎ https://policies.google.com/terms ላይ በሚገኘው የGoogle አገልግሎት ውል እና በእነዚህ የGoogle Chrome እና Chrome OS ተጨማሪ አገልግሎት ውል ይስማማሉ።
</p>
<p>
 እነዚህ የGoogle Chrome እና የChrome OS ተጨማሪ አገልግሎት ውል በተፈጻሚው የChrome እና Chrome OW ኮድ ስሪት ላይ ይተገበራሉ። አብዛኛው የChrome ምንጭ ኮድ በክፍት ምንጭ ፈቃድ ስምምነቶች https://code.google.com/chromium/terms.html ላይ ባሉ የክፍት ምንጭ ሶፍትዌር ፈቃድ ስምምነቶች መሠረት ከክፍያ ነጻ የሚገኝ ነው።
</p>
<p>
 የእርስዎ የተወሰኑ የChrome እና Chrome OS ክፍሎችን መጠቀም ለሚከተሉት ደንቦች ተገዢ ነው፦
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ይህ ምርት በAVC ፓተንት ፖርትፎሊዩ ፈቃድ መሠረት ሸማች የሚከተሉትን ለሚያደርጉባቸው የግል አጠቃቀም ወይም ክፍያ የማያገኙባቸው ሌሎች አጠቃቀሞች ፈቃድ የተሰጠበት ነው፦ (i) በAVC መስፈርት («የAVC ቪዲዮ») መሠረት ቪዲዮን በኮድ ማስቀመጥ እና/ወይም (ii) በግል እንቅስቃሴ ላይ ሲሳተፉ በነበረ ሸማች በኮድ የተቀመጠ የቪዲዮ ኮድ መፍታት እና/ወይም የAVC ቪዲዮን ለማቅረብ ፈቃድ ከተሰጠው የቪዲዮ አቅራቢ የተገኘ የቪዲዮን ኮድ መፍታት። ለሌላ ማንኛውም አጠቃቀም ምንም ፈቃድ አይሰጥም ወይም በውስጥ ታዋቂነት እንደተሰጠ አይቆጠርም። ተጨማሪ መረጃ ከMPEG LA, L.L.C. ሊገኝ ይችላል። HTTP://WWW.MPEGLA.COM ይመልከቱ
 </p>
</section>
<section>
 <p>
  <strong>
   Adobe
  </strong>
 </p>
 <p>
  Google Chrome በAdobe Systems Incorporated እና Adobe Software Ireland Limited (በአንድ ላይ «Adobe») የቀረቡ አንድ ወይም ተጨማሪ ክፍሎችን ሊያካትት ይችላል። የእርስዎ በGoogle የቀረበው የAdobe ሶፍትዌር («Adobe Software») አጠቃቀም ለሚከተሉት ተጨማሪ ደንቦች («የAdobe ደንቦች») ተገዢ ነው። እርስዎ፣ Adobe Softwareን የሚቀበሉት አካል፣ ከእንግዲህ «ንዑስ ፈቃድ ተቀባይ» በመባል ይጠራሉ።
 </p>
 <p>
  1. የፈቃድ ገደቦች።
 </p>
 <p>
  (ሀ) Flash Player፣ ስሪት 10.x እንደ የአሳሽ ተሰኪ እንዲሆን ብቻ ነው የተነደፈው። ንዑስ ፈቃድ ተቀባይ በአንድ ድረ-ገጽ ላይ ይዘትን ለማጫወት እንደ የአሳሽ ተሰኪ ከመጠቀም ውጭ ይህን Adobe Software መቀየር ወይም ማሰራጨት አይችሉም። ለምሳሌ፣ ንዑስ ፈቃድ ተቀባይ ከአሳሽ ውጭ ከሚያሄዱ መተግበሪያዎች ጋር (ለምሳሌ፦ ተናጠል መተግበሪያዎች፣ ምግበሮች፣ የመሣሪያ ዩአይ) አብሮ መስራትን ለማስቻል ይህን Adobe Software አይቀይሩም።
 </p>
 <p>
  (ለ) ንዑስ ፈቃድ ተቀባይ አንድ ቅጥያ እንደ ተናጠል መተግበሪያ ሆኖ ይዘትን መልሶ እንዲያጫውት በሚያስችል መልኩ ማናቸውም የFlash Player፣ ስሪት 10.x ኤፒአዮችን በአሳሽ ተሰኪ በይነገጽ በኩል አያጋልጡም።
 </p>
 <p>
  (ሐ) የChrome-አንባቢ ሶፍትዌሩ ከAdobe DRM ውጭ የዲጂታል መብቶች አስተዳደር ፕሮቶኮሎችን ወይም ስርዓቶችን የሚጠቀሙ ማናቸውም የPDF ወይም EPUB ሰነዶችን ምስል ለመስራት ስራ ላይ መዋል አይችልም።
 </p>
 <p>
  (መ) በChrome-አንባቢ ሶፍትዌር ውስጥ በAdobe DRM ለሚጠበቁ ሁሉም የPDF እና EPUB ሰነዶች Adobe DRM መንቃት አለበት።
 </p>
 <p>
  (መ) የChrome-አንባቢ ሶፍትዌሩ በቴክኒካዊ ዝርዝር መግለጫዎች በግልጽ ከቀረበለት ውጭ በAdobe Software ውስጥ የPDF እና የEPUB ቅርጸቶች እና የAdobe DRM ድጋፍ ጨምሮ በAdobe የቀረቡ ማናቸውም ችሎታዎችን ማሰናከል አይችልም፣።
 </p>
 <p>
  2. ኤሌትሮኒክ ማስተላለፍ። ንዑስ ፈቃድ ተቀባይ በእነሱ የሚደረጉ ማናቸውም የAdobe Software ማሰራጨቶች፣ በግልጽ ከተፈቀዱ በሲዲ-ሮም፣ ዲቪዲ-ሮም ወይም በሌላ የማከማቻ ሚዲያ እና ኤሌክትሮኒክ ማስተላለፊያ ላይ የሚደረጉትም ጨምሮ፣ ያልተፈቀደ መጠቀምን ለመከላከል ምክንያታዊ ለሆኑ የደህንነት እርምጃዎች ተገዢ እንደሚሆኑ እስከተስማሙ ድረስ ንዑስ ፈቃድ ተቀባይ Adobe Softwareን ከድር ጣቢያ፣ በይነመረብ፣ ኢንትራኔት ወይም ተመሳሳይ ቴክኖሎጂ («ኤሌክትሮኒክ ማስተላለፎች») ማውረድ ሊፈቅዱ ይችላሉ። በዚህ ስምምነት ላይ ከጸደቁት ኤሌክትሮኒክ ማስተላለፎች ጋር በተያያዘ ንዑስ ፈቃድ ተቀባይ በAdobe የተዘጋጁ ማናቸውም ምክንያታዊ የአጠቃቀም ገደቦችን፣ ከደህንነት እና/ወይም ለንዑስ ፈቃድ ተቀባይ ምርት ዋና ተጠቃሚዎች ማሰራጨትን መገደብ ጋር የተያያዙትም ጨምሮ፣ ለመጠቀም ተስማምተዋል።
 </p>
 <p>
  3. EULA እና የስርጭት ደንቦች።
 </p>
 <p>
  (ሀ) ንዑስ ፈቃድ ተቀባይ ተፈጻሚ በሆነ እና ንዑስ ፈቃድ ተቀባይን እና አቅራቢዎቹን በሚደግፍ፣ እና ቢያንስ እያንዳንዱን የሚከተሉት አነስተኛ ደንቦች («የዋና ተጠቃሚ ፈቃድ») በያዘ የዋና ተጠቃሚ ፈቃድ ስምምነት መሠረት Adobe Softwareን ለዋና ተጠቃሚዎች መሰራጨቱን ያረጋግጣሉ፦ (i) ማሰራጨትን እና መቅዳትን መከልከል፣ (ii) መቀየርን እና ከዋናው የመነጩ ስራዎችን መከልከል፣ (iii) Adobe Softwareን በሰው ሊነበብ ወደሚችል ቅርጽ ጥንቅሩን መፍታትን፣ በኋሊት ምሕንድስና መፍታትን፣ መበተንን ወይም መቀነስን መከልከል፣ (iv) በንዑስ ፈቃድ ተቀባይ እና ፈቃድ ሰጪዎቹ የተሰጠ የንዑስ ፈቃድ ተቀባይ ምርት ባለቤትነትን የሚያመለክት ደንብ (በአንቀጽ 8 በተገለጸው መሠረት)፣ (v) ቀጥተኛ ያልሆነ፣ ልዩ፣ ተደራቢ፣ ቀጪ እና እንደ አጸፋ የሚከተሉ ጉዳቶች ኃላፊነት ማስተባበያ፣ እና (vi) ሌሎች የኢንዱስትሪ ደረጃ ኃላፊነት ማስተባበያዎችና ገደቦች፣ እንደ ተገቢነታቸው የሚከተሉትም ጨምሮ፦ በህጉ እስከሚፈቅደው ከፍተኛ ደረጃ ድረስ ሁሉንም የሚመለከታቸው በህግ የተቀመጡ ዋስትናዎች ኃላፊነት ማስተባበያ።
 </p>
 <p>
  (ለ) Adobe Software ለንዑስ ፈቃድ ተቀባይ አሰራጮች የሚሰራጨው ተፈጻሚ በሆነ ንዑስ ፈቃድ ተቀባዩን እና አቅራቢዎቹን የሚደግፍና ልክ እንደ የAdobe ደንቦች ያህል Adobeን የሚጠብቁ ደንቦች በያዘ የስርጭት ፈቃድ ስምምነት መሠረት መሆኑን ያረጋግጣሉ።
 </p>
 <p>
  4. ክፍት ምንጭ። ንዑስ ፈቃድ ተቀባይ በAdobe አዕምሯዊ ንብረት ስር ያሉ ማናቸውም መብቶችን ወይም ያለመጠየቅ መብቶችን፣ ወይም እንዲህ ያለ አዕምሯዊ ንብረት Adobe Softwareን ለመጠቀም፣ ለመቀየር እና/ወይም ለማሰራጨት የሚከተሉት መሆን እንዳለበት ቅድመ-ሁኔታ ለተቀመጠበት ወይም እንደተቀመጠበት ተደርጎ ሊተረጎም ለሚችል የክፍት ምንጭ ፈቃድ ወይም ዕቅድ ተገዢ የሚያደርጉ የንብረት መብቶች ለማንኛውም ሶስተኛ ወገን በቀጥታም ሆነ በተዘዋዋሪ አይሰጡም እና መስጠት እንደሚችሉም አያሳውቁም፦ (i) በምንጭ ኮድ መልኩ ይፋ እንዲደረግ ወይም እንዲሰራጭ፤ (ii) ከዋናው የመነጩ ስራዎችን ለመስራት ዓላማ ፈቃድ መስጠት፤ ወይም (iii) ያለምንም ወጪ ዳግም ማሰራጨት። ግልጽ ለማድረግ ዓላማ ይህ ገደብ ንዑስ ፈቃድ ተቀባይ እንዳያሰራጩ አይከለክልም፣ እና ንዑስ ፈቃድ ተቀባይ Adobe Softwareን ከGoogle Software ጋር እንደተጣመረ ያለምንም ወጪ ያሰራጫሉ።
 </p>
 <p>
  5. ተጨማሪ ደንቦች። ለንዑስ ፈቃድ ተቀባዮች የቀረቡ ማናቸውም የAdobe Software ዝማኔ፣ ማላቂያ፣ አዲስ ስሪቶች (በአንድ ላይ «ማላቂያዎች») በተመለከተ Adobe ማላቂያውን እና የወደፊት ስሪቶችን ብቻ የሚመለከቱ ተጨማሪ ደንቦችን እና ሁኔታዎችን የማስፈለግ፣ እና እንዲህ ያሉ ገደቦች እንዲህ ባለ የማላቂያ ሁሉም ፈቃድ ተቀባዮች ላይ በAdobe የተተገበሩ እስከሆኑ ድረስ ብቻ የማስፈለግ መብቱ የተጠበቀ ነው። ንዑስ ፈቃድ ተቀባይ እንዲህ ባሉ ተጨማሪ ደንቦች ወይም ሁኔታዎች ካልተስማሙ ንዑስ ፈቃድ ተቀባይ እንዲህ ያለ ማላቂያን በተመለከተ ምንም የፈቃድ መብቶች አይኖራቸውም፣ እና ንዑስ ፈቃድ ተቀባይ Adobe Softwareን በተመለከተ ያላቸው የፈቃድ መብቶች እንዲህ ያሉ ተጨማሪ ደንቦች ለንዑስ ፈቃድ ተቀባይ የሚገኙ ከሆነበት ቀን ጀምሮ በ90ኛው ቀን ላይ በራስ-ሰር ይቋረጣሉ።
 </p>
 <p>
  6. የንብረት መብቶች ማስታወቂያዎች። ንዑስ ፈቃድ ተቀባይ በAdobe Software ወይም እሱን አጅበው በሚቀርቡ ይዘቶች ላይ የAdobe (እና ካሉ የፈቃድ ሰጪዎቹ) የቅጂ መብቶችን፣ የንግድ ምልክቶችን፣ አርማዎችን ወይም ተዛማጅ ማስታወቂያዎችን፣ ወይም ሌሎች የንብረት መብቶች ማስታወቂያዎችን አይሰርዝም ወይም በምንም አይነም መልኩ አይቀይራቸውም፣ እና አሰራጮቹም እንዲህ እንዲያደርጉም ግዴታ አይጥልባቸውም።
 </p>
 <p>
  7. ቴክኒካዊ መስፈርቶች። ንዑስ ፈቃድ ተቀባይ እና አሰራጮቹ በመሣሪያ ላይ Adobe Softwareን እና/ወይም ማላቂያን ማሰራጨት የሚችሉት የሚከተሉትን ካሟሉ ብቻ ነው፦ (i) http://www.adobe.com/mobile/licensees (ወይም እሱን የተካው ድር ጣቢያ) ላይ የተለጠፉ ቴክኒካዊ ዝርዝር መረጃዎችን የሚያሟሉ፣ እና (ii) ከታች ባለው መሠረት በAdobe የተረጋገጡ።
 </p>
 <p>
  8. ማረጋገጫ እና ዝማኔ። Adobe ማረጋገጥ እንዲችል ንዑስ ፈቃድ ተቀባይ በGoogle የሚነገረውን የመሣሪያ ማረጋገጫ ማግለያ መስፈርቱን የማያሟሉ Adobe Softwareን እና/ወይም ማላቂያውን የያዘ እያንዳንዱ የንዑስ ፈቃድ ተቀባይ ምርት እና እያንዳንዱ ስሪታቸው («የተቀባይ ፈቃድ ምርት») ለAdobe መስጠት አለበት። ንዑስ ፈቃድ ተቀባይ http://flashmobile.adobe.com/ ላይ በጊዜው በነበሩ ደንቦች መሠረት የማረጋገጫ ጥቅሎችን በመግዛት በእነሱ የተደረጉ በንዑስ ፈቃድ ተቀባይ ለተደረጉ እያንዳንዱ ግቤት ይከፍላሉ። ማረጋገጫን ያላለፈ የንዑስ ፈቃድ ተቀባይ ምርት ሊሰራጭ አይችልም። ማረጋገጫ የሚከናወነው http://flashmobile.adobe.com/ ላይ በተብራሩት በጊዜው በነበሩ የAdobe ደንቦች መሠረት ነው («ማረጋገጫ»)።
 </p>
 <p>
  9. መገለጫዎች እና የመሣሪያ ማዕከል። ንዑስ ፈቃድ ተቀባይ እንደ የማረጋገጫ ሂደቱ ወይም የሌላ ዘዴ አካል ስለንዑስ ፈቃድ ተቀባይ ምርቶች የተወሰነ የመገለጫ መረጃን እንዲያቀርቡ ይጠየቃሉ፣ እና እንዲህ ያለ መረጃ ለAdobe ይሰጣሉ። Adobe (i) የንዑስ ፈቃድ ተቀባይ ምርትን ለማረጋገጥ (እንዲህ ያለ ምርት መረጋገጥ ያለበት ከሆነ) እንዲህ ያለ የመገለጫ መረጃን ሊጠቀም ይችላል፣ እና (ii) እንዲህ ያለ የመገለጫ መረጃን https://devices.adobe.com/partnerportal/ ላይ በሚገኘው «Adobe Device Intelligence system» ላይ ሊያሳይ፣ እና ይዘት ወይም መተግበሪያዎች በንዑስ ፈቃድ ተቀባይ ምርቶች ላይ እንዴት ሆነው እንደሚታዩ (ለምሳሌ፦ በተወሰኑ ስልኮች ላይ የቪዲዮ ምስሎች እንዴት ሆነው እንደሚታዩ) ገንቢዎችና ዋና ተጠቃሚዎች መተግበሪያዎች ማየት እንዲችሉ ለማስቻል በAdobe የመጻፊያ እና መገንቢያ መሣሪያዎች እና አገልግሎቶች በኩል የሚገኙ ሊያደርግ ይችላል።
 </p>
 <p>
  10. ወደ ውጪ ላክ። ንዑስ ፈቃድ ተቀባይ የአሜሪካ ህጎች እና ደንቦች አሜሪካ የመነጩ ምርቶችን እና ቴክኒካዊ ውሂብን ወደ ውጭ መላክ እና ዳግም መላክ እንደሚገድብ፣ እና ይህ Adobe Softwareን ሊያካትት እንደሚችል፣ እውቅና ይሰጣሉ። ንዑስ ፈቃድ ተቀባይ ያለአግባብ የአሜሪካ እና ካለ የውጭ መንግስት ክሊራንስ Adobe Softwareን ወደ ውጭ ዳግም እንደማይልከው ይስማማሉ።
 </p>
 <p>
  11.  የቴክኒሎጂ ማስተላለፊያ ደንቦች።
 </p>
 <p>
  (ሀ) በሚመለከታቸው ፈቃዶች ወይም ስምምነቶች መሠረት፣ ወይም በሚመለከታቸው ወገኖች በስተቀር ንዑስ ፈቃድ ተቀባዮች Adobe Softwareን ተጠቅመው ፒሲ ባልሆነ ማንኛውም መሣሪያ ላይ (ለምሳሌ፦ ተንቀሳቃሽ ስልክ ወይም የላይ ቅንብር ሳጥን) የmp3 ኦዲዮ ብቻ (.mp3) ውሂብን በኮድ ማስቀመጥ ወይም ኮዱን መፍታት አይችሉም እና ሌሎችም እንዲያደርጉ መፍቀድ አይችሉም፣ እንዲሁም በAdobe Software ውስጥ ያሉ የmp3 ኮድ ማስቀመጫዎች ወይም መፍቻዎች ከAdobe Software ውጭ በሆነ ማንኛውም ምርት ስራ ላይ መዋል ወይም መደረስ አይችልም። ቪዲዮ፣ ስዕል ወይም ሌላ ውሂብ በሚይዝ የswf ወይም የflv ፋይል ውስጥ የMP3 ውሂብን በኮድ ለማስቀመጥ ወይም ለመፍታት Adobe Softwareን መጠቀም ይቻላል። ንዑስ ፈቃድ ተቀባዩ Adobe Softwareን ፒሲ ላልሆኑ መሣሪያዎች መጠቀም በዚህ አንቀጽ ውስጥ በተገለጹት ክልከላዎች መሠረት የፈቃድ ክፍያዎች ወይም ሌሎች መጠኖች ከMP3 ቴክኖሎጂ ጋር የሚገናኝ የአዕምሯዊ ንብረት መብቶች ላላቸው ሶስተኛ ወገኖች መከፈል ሊያስፈልግ እንደሚችል፣ እና Adobeም ሆነ ንዑስ ፈቃድ ተቀባዩ በሶስተኛ ወገን አዕምሯዊ ንብረት መብቶች ምክንያት እንዲህ ላለ አጠቃቀም ማናቸውም ክፍያዎችም ሆነ ሌሎች መጠኖች እንዳልከፈሉ እውቅና ይሰጣሉ። አንድ ንዑስ ፈቃድ ተቀባይ እንዲህ ላለ አጠቃቀም የMP3 ኮድ ማስቀመጫ ወይም ኮድ መፍቻ ካስፈለጋቸው ንዑስ ፈቃድ ተቀባዩ ማናቸውም የሚመለከታቸው የየአዕምሮ ንብረት መብቶችም ጨምሮ አስፈላጊውን የአዕምሯዊ ንብረት ፈቃድ የማግኘት ኃላፊነት አለባቸው።
 </p>
 <p>
  (b) ንዑስ ፈቃድ ተቀባይ የሚከተሉትን አይጠቀሙም፣ አይቀዱም፣ አያባዙም እና አይቀይሩም (i) የOn2 ምንጭ ኮድ (ከዚህ ወዲህ እንደ የምንጭ ኮዱ አካል ተደርጎ የቀረበ) እንደ አስፈላጊነቱ Adobe Software በFlash ቪዲዮ ፋይል ቅርጸት (.flv ወይም .f4v) ያለ የቪዲዮ ኮድን እንዲፈታ ማንቃት፣ እና (ii) የSorenson Spark ምንጭ ኮድ (ከዚህ ወዲህ እንደ የምንጭ ኮዱ አካል ተደርጎ የቀረበ) በAdobe Software ላይ የሳንካ ጥገናዎችን እና የአፈጻጸም ማሻሻያዎችን የማድረግ የተወሰነ ዓላማ። በAdobe Software የቀረቡት ሁሉም ኮዴኮች ስራ ላይ መዋል እና መሰራጨት የሚችሉት እንደ የAdobe Software የተዋሃደ ክፍል ብቻ ነው፣ እና ሌሎች የGoogle መተግበሪያዎች ጨምሮ በሌላ ማንኛውም መተግበሪያ ሊደረሱባቸው አይችሉም።
 </p>
 <p>
  (ሐ) ምንጭ ኮዱ ከAAC ኮዴክ እና/ወይም ከHE-AAC ኮዴክ («የAAC ኮዴክ») ጋር ሊቀርብ ይችላል። የAAC ኮዴኩን መጠቀም የሚወሰነው ንዑስ ፈቃድ ተቀባዩ የAAC ኮዴኩ ስራ ላይ ለሚውሉባቸው ዋና ምርቶች በVIA Licensing የቀረቡ አስፈላጊዎቹን የአዕምሮ ንብረት የሚሸፍን አግባብ የሆነ የአዕምሮ ንብረት ፈቃድ በማግኘት ላይ የሚወሰን ነው። ንዑስ ፈቃድ ተቀባይ Adobe በዚህ ስምምነት መሠረት ለንዑስ ፈቃድ ተቀባይ ወይም ለእሱ ንዑስ ፈቃድ ተቀባዮች የAAC ኮዴክ የአዕምሮ ንብረት ፈቃድ እየሰጠ እንዳልሆነ እውቅና ሰጥተው ተስማምተዋል።
 </p>
 <p>
  (መ) ምንጭ ኮዱ ሸማች የሚከተሉትን ለማድረግ ሊጠቀምባቸው የሚችል የንግድ ላልሆነ የግል አጠቃቀም የAVC ፓተንት ፖርትፎሊዮ ፈቃድ መሠረት ፈቃድ የተሰጠበት ኮድ ሊኖረው ይችላል፦ (i) በAVC መስፈርት ("AVC VIDEO") መሠረት ቪዲዮን በኮድ ማስቀመጥ እና/ወይም (ii) የንግድ ባልሆነ በግል እንቅስቃሴ ላይ ሲሳተፉ በነበረ ሸማች በኮድ የተቀመጠ የቪዲዮ ኮድ መፍታት እና/ወይም AVC VIDEOን ለማቅረብ ፈቃድ ከተሰጠው የቪዲዮ አቅራቢ የተገኘ የቪዲዮን ኮድ መፍታት። ለሌላ ማንኛውም አጠቃቀም ምንም ፈቃድ አይሰጥም ወይም በውስጥ ታዋቂነት እንደተሰጠ አይቆጠርም። ተጨማሪ መረጃ ከMPEG LA, L.L.C. ሊገኝ ይችላል። http://www.mpegla.com ይመልከቱ
 </p>
 <p>
  12. ዝማኔ ንዑስ ፈቃድ ተቀባይ Google ወይም Adobe ከGoogle Software ጋር Adobe Software በተካተቱበት ሁሉም የንዑስ ፈቃድ ተቀባይ ምርቶች («የንዑስ ፈቃድ ተቀባይ ምርቶች») ላይ Adobe Softwareን ለማዘምን የሚያደርጉትን ጥረት አያሰናክሉም።
 </p>
 <p>
  13. እውቅና እና የንብረት ባለቤት ማስታወቂያዎች። ንዑስ ፈቃድ ተቀባይ Adobe Softwareን በይፋ በሚገኙ የንዑስ ፈቃድ ተቀባይ ዝርዝር መግለጫዎች ላይ ይዘረዝሩታል እና በንዑስ ፈቃድ ተቀባይ ምርት ጥቅሉ ወይም የገበያ ማስተዋወቂያ ይዘቶች ላይ በንዑስ ፈቃድ ተቀባይ ምርቱ ውስጥ ከሚገኙ የሌሎች ሶስተኛ ወገን ምርቶች ምርት ስም አቀራረብ ጋር ወጥነት ባለው መልኩ አግባብ የሆነ የAdobe Software ምርት ስም አቀራረብ (የAdobe ኮርፖሬት አርማ በግልጽ ተገልሎ) ያካትታሉ።
 </p>
 <p>
  14. ዋስትን የለም። ADOBE SOFTWARE «ባለበት» ጥቅም ላይ ለመዋል እና ለመባዛት ለንዑስ ፈቃድ ተቀባይ የሚገኝ የተደረገ ነው፣ እና ADOBE ለአጠቃቀሙ ወይም አፈጻጸሙ ምንም አይነት ዋስትን አይሰጥም። ADOBE እና አቅራቢዎቹ ADOBE SOFTWAREን በመጠቀም ለሚገኘው አፈጻጸም ወይም ውጤቶች ዋስትና አይሰጡም እና መስጠትም አይችሉም። ንዑስ ፈቃድ ተቀባይ ባሉበት የህግ ክልል ውስጥ የንዑስ ፈቃድ ተቀባይ ምርትን በሚመለከተው ህግ መሠረት ሊገለል ወይም ሊገደብ ከማይችል ማንኛውም ዋስትና፣ ቅድመ-ሁኔታ፣ የተሰጠ ቃል ወይም ደንብ በስተቀር ADOBE እና አቅራቢዎቹ የሶስተኛ ወገን መብቶች አለመጣስ፣ ተሸጭነት፣ ውህደት፣ አጥጋቢ ጥራት ወይም ለማንኛውም ዓላማ ብቁነት እና ሌሎችም ጨምሮ ለማንኛውም ጉዳይ ምንም አይነት ዋስትናዎች፣ ቅድመ-ሁኔታዎች፣ ቃል ወይም ደንቦች (በወጣ ህግ፣ የተለምዶ ህግ፣ ባህል፣ አጠቃቀም ወይም በሌላ መንገድም ቢሆን) ግልጽም ሆነ በውስጥ-ታዋቂነት አይሰጡም። ንዑስ ፈቃድ ተቀባይ ADOBEን በመወከል ምንም አይነት ዋስትና፣ ግልጽም ሆነ በውስጥ ታዋቂ፣ እንደማይሰጡ ይስማማሉ።
 </p>
 <p>
  15. የተጠያቂነት ገደብ። ADOBE ወይም አቅራቢዎቹ በምንም አይነት ሁኔታ ላይ ለማናቸውም ጉዳቶች፣ የይገባኛል ጥያቄዎች ወይም ወጪዎች፣ ወይም ለማናቸውም ተከትለው ለሚከሰቱ፣ ቀጥተኛ ወይም ተደራቢ ጉዳቶች፣ ወይም ለማናቸውም የጠፉ ትርፎች ወይም ቁጠባዎች ለንዑስ ፈቃድ ተቀባይ ተጠያቂ አይሆኑም፣ የADOBE ተወካይ በማንኛውም ሶስተኛ ወገን በሚነሳ የይገባኛል ጥያቄ እንዲህ ያሉ ጥፋቶች፣ ጉዳቶች፣ የይገባኛል ጥያቄዎች ወይም ወጪዎች ሊከሰቱ እንደሚችሉ የተመከሩ ቢሆንም እንኳ። እነዚህ የተገለጹት ገደቦች እና አለመካተቶች ንዑስ ፈቃድ ተቀባይ ባሉበት የህግ ክልል ውስጥ ያለው ህግ እስከሚፈቀደው ወሰን ድረስ ይተገበራሉ። ADOBE እና አቅራቢዎቹ በዚህ ስምምነት መሠረት ወይም ከእሱ ጋር በተያያዘ የሚኖራቸው ጥቅል ህጋዊ ተጠያቂነት እስከ አንድ ሺ ዶላር (US$1,000) ድረስ የተገደበ ነው። በዚህ ስምምነት ውስጥ ያለ ምንም ነገር በAdobe ቸልተኝነት ለሚከሰት ሞት ወይም የግል ጉዳት ወይም በማታለል (ማጭበርበር) የተነሳ ለሚከሰት ከህግ ውጭ ተጠያቂነት ለንዑስ ፈቃድ ተቀባዩ የሚኖረው ተጠያቂነት አይገድብም። Adobe በዚህ ስምምነት ላይ በቀረበው መሠረት ግዴታዎችን፣ ዋስትናዎችን እና ተጠያቂነትን ለማስተባበል፣ ለማግለል እና/ወይም ለመገደብ ዓላማዎች አቅራቢዎቹን ወክሎ ይሰራል፣ ነገር ግን በሌላ አይነት መልኩ እና ለሌላ ማንኛውም ዓላማ አይደለም።
 </p>
 <p>
  16. የይዘት ጥበቃ ደንቦች
 </p>
 <p>
  (ሀ) ፍቺዎች።
 </p>
 <p>
  «የደንብ አክባሪነት እና ብርቱነት ደንቦች» ማለት http://www.adobe.com/mobile/licensees ወይም እሱን የተካው ድር ጣቢያ ላይ የሚገኝ ለAdobe Software የደንብ ማክበር እና ብርቱነት ደንቦችን የሚያስቀምጠው ሰነድ ማለት ነው።
 </p>
 <p>
  «የይዘት ጥበቃ ተግባራት» ማለት የደንብ አክባሪነት እና ብርቱነት ደንቦችን ለማክበር እና ለAdobe Software ተጠቃሚዎች ፍጆታ የተሰራጨ ዲጂታል ይዘትን በተመለከተ እንዲህ ባሉየዲጂታል ይዘት ባለቤቶች ወይም ፈቃድ ያላቸው አሰራጮች ካልተፈቀደ መልሶ ማጫወትን፣ መቅዳትን፣ መቀየርን፣ ዳግም ማሰራጨትን ወይም ሌሎች እርምጃዎች ለመከልከል የተነደፉ የAdobe Software ክፍሎች ማለት ነው።
 </p>
 <p>
  «የይዘት ጥበቃ ኮድ» ማለት የተወሰኑ የይዘት ጥበቃ ተግባራትን የሚያነቁ በተወሰኑ የተሰየሙ የAdobe Software ስሪቶች ላይ የሚገኝ ኮድ ማለት ነው።
 </p>
 <p>
  «ቁልፍ» ማለት በAdobe Software ውስጥ ያለ የዲጂታል ይዘት ኮድ ለመፍታት ስራ ላይ የሚውል የስነመሰውር እሴት ማለት ነው።
 </p>
 <p>
  (ለ) የፈቃድ ገደቦች። ንዑስ ፈቃድ ተቀባዩ Adobe Softwareን በተመለከተ ፈቃዶቹን የመጠቀም መብታቸው ለሚከተሉት ተጨማሪ ገደቦች እና ግዴታዎች ተገዢ ነው። ንዑስ ፈቃድ ተቀባይ Adobe Softwareን በተመለከተ የንዑስ ፈቃድ ተቀባይ ደንበኛዎች ልክ በንዑስ ፈቃድ ተቀባዩ ላይ በተጣለው ግዴታ ደረጃ እነዚህን ገደቦች እና ግዴታዎች እንደሚያከብሩ ያረጋግጣል፦ ማንኛውም የንዑስ ፈቃድ ተቀባይ ደንበኛዎች እነዚህን ተጨማሪ ገደቦች እና ግዴታዎች አለማክበር እንደ በንዑስ ፈቃድ ተቀባዩ የተፈጸመ ጉልህ ጥሰት እንደሆነ ይቆጠራል።
 </p>
 <p>
  ለ.1. ንዑስ ፈቃድ ተቀባይ እና ደንበኛዎች ማሰራጨት የሚችሉት Adobe Software ከላይ ባሉት የAdobe ደንቦች መሠረት በማረጋገጫ ሂደት ጊዜ በንዑስ ፈቃድ ተቀባይ እንደተረጋገጠ የብርቱነት እና የደንብ አክባሪነት ደንቦችን የሚያሟላ Adobe Software ብቻ ነው።
 </p>
 <p>
  ለ.2. ንዑስ ፈቃድ ተቀባይ እነዚህን ማድረግ አይችሉም፦ (i) ዲጂታል ይዘትን ለተፈቀደ የAdobe Software ተጠቃሚዎች ፍጆታ ለማመስጠርም ወይም ለመፍታት ስራ ላይ የሚውሉ የAdobe Software ሆነ የሌላ ማንኛውም ተዛማጅ የAdobe Software የይዘት ጥበቃ ተግባራትን ማክሸፍ ወይም (ii) ዲጂታል ይዘትን ለተፈቀደ የAdobe Software ተጠቃሚዎች ፍጆታ ለማመስጠርም ወይም ለመፍታት ስራ ላይ የሚውሉ የAdobe Software ሆነ የሌላ ማንኛውም ተዛማጅ የAdobe Software የይዘት ጥበቃ ተግባራትን ለማክሸፍ የተነደፉ ምርቶችን መገንባት ወይም ማሰራጨት።
 </p>
 <p>
  (ሐ) ቁልፎቹ ከዚህ ወዲህ እንደ የAdobe ሚስጥራዊ መረጃ የተሰየሙ ናቸው፣ እና ንዑስ ፈቃድ ተቀባዩ ቁልፎችን በተመለከተ የAdobe ምንጭ ኮድ አያያዝ ስርዓቱን ያከብራሉ (ሲጠየቅ በAdobe የሚቀርብ)።
 </p>
 <p>
  (መ) የእግድ ዳኝነት። የዚህ ስምምነት ጥሰት የAdobe Software የይዘት ጥበቃ ተግባራትን ሊያሰናክል እንደሚችል እና በAdobe እና እንዲህ ባለ የይዘት ጥበቃ ተግባራት ላይ የሚተማመኑ የዲጂታል ይዘት ባለቤቶች ጥቅሞች ላይ ልዩ እና ዘላቂ ጉዳት ሊያደርስ እንደሚችል፣ እና የገንዘብ ካሳ እንዲህ ላለ ጉዳት ሙሉ ለሙሉ ለማካካስ በቂ ላይሆን እንደሚችል ይስማማሉ። ስለዚህ፣ ንዑስ ፈቃድ ተቀባይ ከዚህ Adobe ከገንዘብ ካሳ በተጨማሪም እንዲህ ባለ ጥሰት ምክንያት የተከሰተ ጉዳትን ለመከላከል ወይም ለመገደብ የእግድ ዳኝነት የመፈለግ መብት ሊኖረው እንደሚችል ይስማማሉ።
 </p>
 <p>
  17. የታሰቡት የሶስተኛ ወገን ተጠቃሚ። Adobe Softwareን በተመለከተ Adobe ደንቦችም ጨምሮ Google ከንዑስ ፈቃድ ተቀባይ ጋር የሚገቡበት ስምምነት ላይ የታሰቡት የሶስተኛ ወገን ተጠቃሚዎች Adobe Systems Incorporated እና Adobe Software Ireland Limited ናቸው። ንዑስ ፈቃድ ተቀባይ ከGoogle ጋር ያላቸው ስምምነት ሳይጻረር Google የንዑስ ፈቃድ ተቀባይ ማንነት ለAdobe ሊሰጥ እእንደሚችል እና ንዑስ ፈቃድ ተቀባይ ከGoogle ጋር Adobe ደንቦችን የሚያካትት የፈቃድ ስምምነት እንደገቡ በጽሑፍ ሊያስረግጥ እንደሚችል ንዑስ ፈቃድ ተቀባይ ይስማማሉ። ንዑስ ፈቃድ ተቀባይ ከእያንዳንዱ የራሱ ፈቃድ ተቀባዮቹ ጋር ስምምነት ሊኖራቸው ይገባል፣ እና እንዲህ ያሉ ፈቃድ ተቀባዮች Adobe Softwareን ዳግም ማሰራጨት የሚፈቅዱ ከሆነ እንዲህ ያለ ስምምነት የAdobe ደንቦችን ያካትታል።
 </p>
</section>
<p>
 በተጨማሪም፣ የእርስዎ የተወሰኑ የChrome OS ክፍሎችን መጠቀም ለሚከተሉት ደንቦች ተገዢ ነው፦
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ይህ ምርት በMPEG-4 VISUAL ፓተንት ፖርትፎሊዩ ፈቃድ መሠረት ሸማች የሚከተሉትን ለሚያደርጉባቸው የንግድ ላልሆነ የግል አጠቃቀም፦ (i) በMPEG-4 VISUAL መስፈርት («የMPEG-4 ቪዲዮ») መሠረት ቪዲዮን በኮድ ማስቀመጥ እና/ወይም (ii) በግል እና የንግድ ባልሆነ እንቅስቃሴ ላይ ሲሳተፉ በነበረ ሸማች በኮድ የተቀመጠ የቪዲዮ ኮድ መፍታት እና/ወይም የMPEG-4 ቪዲዮን ለማቅረብ በMPEG- LA ፈቃድ ከተሰጠው የቪዲዮ አቅራቢ የተገኘ የቪዲዮን ኮድ መፍታት። ለሌላ ማንኛውም አጠቃቀም ምንም ፈቃድ አይሰጥም ወይም በውስጥ ታዋቂነት እንደተሰጠ አይቆጠርም። ከማስተዋወቂያ፣ ውስጣዊ እና የንግድ አጠቃቀሞች እና ፈቃድ አሰጣጥ ጋር ከሚዛመደው ጋር ጨምሮ ተጨማሪ መረጃ ከMPEG LA, LLC ሊገኝ ይችላል። HTTP://WWW.MPEGLA.COM ይመልከቱ።
 </p>
</section>

</body>
</html>
